 
body {
  padding-top: 10px;
  cursor: default;
}

statusbar {
    position: fixed;
    /*padding: 5px;*/
    margin: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    white-space: nowrap;
    background-color: #d9d9d9;
    /*ss*/
    border-top: 1px solid #666666;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
    border-left: 1px solid #666666;
}
displaytable{
    display: block;
    position: fixed;
    /*padding: 5px;*/
    margin: 0;
    top: 50px;
    bottom: 50px;
    left: 0;
    right: 0;    
    overflow-y: auto;
    overflow-x:  hidden;
    
}

.LOGO {
  font-family: 'Pridi', serif;
  color: #cccccc;
  text-shadow: 1px 1px 1px #000000;
  font-size: 25px;
  font-variant: small-caps;
  white-space: nowrap;
  letter-spacing: .08em;
}
.STATUS {
  display: block;
  /*position: fixed;*/
  padding-left: 5px;
  
  font-family: 'Pridi', serif;
  color: #0000ff;
  text-shadow: 1px 1px 1px #ffffff;
  font-size: 20px;
  /*font-variant: small-caps;*/
  white-space: nowrap;
  letter-spacing: .03em;
}


/*
 * Global add-ons
 */

.sub-header {
  margin-top: 50px;
  font-family: 'BioRhyme', serif;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


/*
 * Top navigation
 * Hide default border to remove 1px line.
 */

.navbar-fixed-top {
  border: 0;
}


/*
 * Main content
 */

.main {
  padding: 10px;
}

 

.main .page-header {
  margin-top: 0;
}


/*
Data Rows are the table items (tr) and (td) tags...
*/

.DataRow {
  color: #330033;
  cursor: default;
}

.DataRow:hover {
  color: #333333;
  background-color:#ccffcc; 
}
.DataRow i{
  /*color:#000080;*/
  color:#666666;
}.DataRow i:hover{
  color:#000000;
}