 
body {
  padding-top: 10px;
  cursor: default;
}

.LOGO {
  font-family: 'Pridi', serif;
  color: #cccccc;
  text-shadow: 1px 1px 1px #000000;
  font-size: 25px;
  font-variant: small-caps;
  white-space: nowrap;
  letter-spacing: .03em;
}
.STATUS {
  font-family: 'Pridi', serif;
  color: #33ff33;
  text-shadow: 1px 1px 1px #000000;
  font-size: 35px;
  /*font-variant: small-caps;*/
  white-space: nowrap;
  letter-spacing: .03em;
}


/*
 * Global add-ons
 */

.sub-header {
  margin-top: 50px;
  font-family: 'BioRhyme', serif;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


/*
 * Top navigation
 * Hide default border to remove 1px line.
 */

.navbar-fixed-top {
  border: 0;
}


/*
 * Main content
 */

.main {
  padding: 10px;
}

 

.main .page-header {
  margin-top: 0;
}


/*
Data Rows are the table items (tr) and (td) tags...
*/

.DataRow {
  color: #330033;
  cursor: default;
}

.DataRow:hover {
  color: #333333;
  background-color:#ccffcc; 
}
.DataRow i{
  /*color:#000080;*/
  color:#666666;
}.DataRow i:hover{
  color:#000000;
}